beautifulsoup4==4.12.3
causal-learn
cdt
datasets
distro==1.9.0
efficientnet_pytorch==0.7.1
evaluate
flair==0.13.1
git+https://github.com/tomsons22/trustworthyAI.git@c2e3535eba28cabf8e1309f55bffc3e4d4d78c00#subdirectory=gcastle
groq==0.8.0
keras==3.4.1
nltk==3.8.1
numpy
pandas
peft
pillow
pyvis
python-decouple==3.8
pytorch-lightning==2.0.7
rdflib
requests==2.32.3
rouge==1.0.1
rouge-score==0.1.2
scikit-learn
seaborn
streamlit
tensorflow==2.16.2
torch==2.2.2
transformers
